.display-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-card {
    width: 25%;
    margin: 1em;
    vertical-align: middle;
    text-align: center;
}

.card-content {
    text-align: justify;
    vertical-align: middle;
    height: 45%;
}

.card-footer {
    margin-bottom: 10px;
}