<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>{{title}}</h1>
    </mat-toolbar-row>
</mat-toolbar>
<form class="bookForm">
    <mat-form-field class="bookForm">
        <input matInput placeholder="ISBN">
    </mat-form-field>
    <br>
    <mat-form-field class="bookForm">
        <input matInput placeholder="Title">
    </mat-form-field>
    <br>
    <mat-form-field class="bookForm">
        <input matInput placeholder="Author">
    </mat-form-field>
    <br>
    <mat-form-field class="bookForm">
        <input matInput placeholder="Publisher">
    </mat-form-field>
    <br>
    <mat-form-field class="bookForm">
        <input matInput placeholder="Description">
    </mat-form-field>
    <br>
    <mat-form-field class="bookForm">
        <input matInput placeholder="Price">
    </mat-form-field>
    <br>
    <mat-form-field class="bookForm">
        <input matInput placeholder="Quantity">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="button">ADD</button>
</form>